body{
    background-color: rgb(204, 220, 238);
}
h1{
    font-size: 5rem;
}
form{
    display: inline-flex;
    text-align: center;
    gap: 3rem;
}
.div_meteo {
    gap: 5rem;
}
.div_Icon{
    gap: 6rem; 
}
